$maxWidth: 140; //1400px

$borderRadius: 0.4rem;
// color
$ColorText: #fff;
$ColorBg: #2d3848;
$ColorDark: #000;
$ColorMain: #2e6ff2;
$ColorMainLight: #498fff;
$ColorNegative: #ff537b;



$codeText :#FFD700;
$codeSyntex:#569CD6;
$codeBuiltinfunction: #a76dff;