@import "variables";

.wrap{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main{
    flex-grow: 1;
    padding:2rem;
  }

  
}


header{
  padding:0 2rem;
}

.py-error{
  background: none;
  color:$ColorNegative;
  border: none;
}


.py-repl-run-button {
  opacity: 0.5;
  path{
    fill: $ColorText;
  }
}
.info{
  margin-bottom: 2rem;

}


//py-repl-output
.py-repl-output{
  padding: 2rem;
  margin:1rem 0 4rem 0;
  background: rgba($ColorDark, 0.2);
}
.ͼb{
  color: $codeBuiltinfunction;
}
.ͼc{

}
.ͼd{
  color: $codeText;
}
.ͼe{
  color: $codeText;
}
.ͼf{

}
.ͼg{
  color: $codeText;
}
.ͼh{

}
.ͼi{

}
.ͼj{

}
.ͼk{

}
.ͼl{

}
.ͼm{

}
.ͼn{

}

