@import "variables";

// -------------------common
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard", sans-serif;
  font-size: clamp(1.4rem, 1.6 / $maxWidth * 100vw, 1.6rem);
  line-height: 1.4;
  background: $ColorBg;
  color: $ColorText;
}

hr {
  border: 1px solid rgba($ColorDark, 0.1);
  border-width: 0 0 1px 0;
  box-shadow: 0 1px 1px rgba($ColorText, 0.1);
  margin: 3rem 0;
}

/* 접근성을 고려한 화면감춤 */
.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

// -------------------layout
// header
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 6rem;
  padding: 0 2rem 0 7.2rem;
  background: rgba($ColorDark, 0.4);
  h1 {
    font-weight: bold;
    font-size: 1.2em;
    color: $ColorMain;
  }
  .btn-fold {
    position: absolute;
    top: 1rem;
    left: 2rem;
  }
}
// 버튼
.btn-fold {
  width: 4rem;
  height: 4rem;
  background: $ColorBg;
  overflow: hidden;
  border-radius: $borderRadius;
  border: 1px solid rgba($ColorDark, 0.5);
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: $ColorBg url(../img/arrow.svg) no-repeat 50% 50% / 80%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    transition: all 0.3s;
  }
}
.btn-exec {
  padding: 0.5em 1em;
  background: $ColorMain;
}

// 메뉴
nav {
  flex: 0 0 32rem;
  overflow-y: hidden;
  background: rgba($ColorDark, 0.3);
  display: none;
  ol {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    li {
      border-bottom: 1px solid rgba($ColorDark, 0.2);
      border-top: 1px solid rgba($ColorText, 0.05);
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
      a {
        padding: 1rem;
        display: block;
        transition: all 0.3s;
        color: rgba($ColorText, 0.6);
        &.active {
          color: $ColorMainLight;
          font-weight: bold;
          background: rgba($ColorDark, 0.1);
        }
        &:not(.active):hover {
          color: rgba($ColorText, 1);
          background: rgba($ColorDark, 0.2);
        }
      }
    }
  }
}

// menu-on
.menu-on {
  nav {
    display: block;
  }
  main {
    flex-wrap: wrap;
  }

  .btn-fold::after {
    transform: rotate(0deg);
  }
}

// main
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .contents {
    flex-grow: 1;
    display: flex;

    main {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;

      section {
        flex: 1 1 min(100%, 40rem);
        padding: 3rem;
        &.description {
        }
        &.editor {
          background: rgba($ColorText, 0.03);
        }
      }
    }
  }
}

.description {
  color: rgba($ColorText, 0.85);

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    margin-bottom: 0.3em;
    color: $ColorText;
  }
  h2 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
    &::before {
      content: "";
      display: inline-block;
      width: 0.4rem;
      height: 0.6em;
      background: $ColorMain;
      margin-right: 0.6em;
      border-top: 0.4rem solid rgba($ColorText, 0.8);
    }
  }

  & > ul.que-list:first-child {
    margin-bottom: 2em;
    border-bottom: 1px solid rgba($ColorDark, 0.1);
    box-shadow: 0 1px 1px rgba($ColorText, 0.1);
    padding-bottom: 1em;
  }
  & > ul.que-list > li,
  & > ul.que-list ul {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  & > ul.que-list ul {
    li {
      font-size: 0.9em;
      background: rgba($ColorText, 0.1);
      padding: 0.3rem 1rem;
      border-radius: $borderRadius;
    }
  }
  .que-list:not(:first-child) {
    margin: 0.2em 0 0.4em;
    .que-ol-li,
    .que-ul-li {
      position: relative;
      padding-left: 1em;
      line-height: 1.4;
      &:not(:first-child) {
        margin-top: 0.3rem;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0.5em;
        left: 0;
        display: block;
        width: 0.4em;
        height: 0.4em;
        margin-right: 0.5em;
        border-radius: 50%;
        background: rgba($ColorText, 0.5);
      }
      & ul li::before {
        height: 0.2em;
        border-radius: 0;
      }
    }
  }

  pre {
    background: rgba($ColorText, 1);
    color: rgba($ColorDark, 1);
    padding: 2em;
  }

  figure {
    margin: 1rem 0;
    figcaption {
      font-size: 0.9em;
      color: rgba($ColorText, 0.7);
    }
  }

  table {
    border-top: 2px solid rgba($ColorDark, 1);
    text-align: center;
    color: rgba($ColorText, 0.85);
    td,
    th {
      padding: 0.6em 1em;
    }

    th {
      font-weight: bold;
      background: rgba($ColorDark, 0.3);
    }
    tr:nth-child(odd) {
      background: rgba($ColorText, 0.05);
    }
    td {
      border: 1px solid rgba($ColorDark, 0.3);
      border-width: 1px 0;
    }
  }
}
.editor {
  .test-case {
    display: flex;

    padding: 2rem 0;
    justify-content: space-between;
    div {
      flex: 1 1 30%;

      &:first-child {
        padding-right: 2rem;
      }
      &:not(:first-child) {
        border-left: 1px solid rgba($ColorDark, 0.3);
        padding: 0 2rem;
      }
      &:last-child {
        padding-right: 0;
      }
    }

    label {
      font-size: 0.95em;
    }
    input {
      margin-top: 0.2em;
      border: none;
      background: rgba($ColorDark, 0.3);
      height: 3.2rem;
      width: 100%;
      color: rgba($ColorText, 0.5);
      text-indent: 1rem;
    }
  }
  .btn-contain {
    text-align: right;
    #btn-run {
      background: $ColorMain;
      color: $ColorText;
      height: 4.4rem;
      width: 100%;
    }
  }

  #result {
    margin-top: 2rem;

    h3 {
      font-weight: bold;
      padding: 1rem;
      background: rgba($ColorDark, 0.4);
    }
  }

  #py-internal-0 {
    display: block;
    background: rgba($ColorDark, 0.2);
    padding: 2rem;
    box-sizing: border-box;
  }
  pre {
    background: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
  }
  .py-error {
    color: $ColorNegative;
  }
}
//footer
footer {
  padding: 2rem;
  background: rgba($ColorDark, 0.1);

  p {
    text-align: center;
    font-size: 0.9em;
  }
}
