.description h1,
.description h2,
.description h3,
.description h4 {
  font-weight: bold;
  margin-bottom: 0.2em;
}
.description h2 {
  font-size: 1.4em;
}
.description h2::before {
  content: "";
  display: inline-block;
  width: 0.4rem;
  height: 0.6em;
  background: #2e6ff2;
  margin-right: 0.6em;
  border-top: 0.4rem solid rgba(255, 255, 255, 0.8);
}
.description h3 {
  font-size: 1.2em;
}
.description pre {
  background: white;
  color: black;
  padding: 2em;
}
.description figure {
  margin: 1rem 0;
}
.description figure figcaption {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

.btn-contain {
  background: skyblue;
}

#result {
  background: seagreen;
}

table {
  border-top: 2px solid black;
  text-align: center;
}
table td,
table th {
  padding: 0.6em 1em;
}
table th {
  font-weight: bold;
  background: rgba(0, 0, 0, 0.3);
}
table tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.05);
}
table td {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-width: 1px 0;
}